.App__header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
